@use 'src/styles/vars';

.bot-pic {
  width: 250px;
  height:350px;
  position:absolute;
  top:55%;
  right:0%;
  display:inline-block;
  padding:auto;
  z-index: -1;
}
  .bot-message {
  background-color: white;
  display: inline-block;
  width:150px;
  height:100px;
  text-align: left;
  padding:2px;
  position:absolute;
  top:60%;
  right:3%;
  z-index: 3;

    .bot-text{
    color:black;

    }
  }

