.notFound-container {

  display: flex;
  position: relative;
  justify-content: center;
  .errorimg {
    height: 50%;
    width: 50%;
  }
   
  
}
@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n
    {$value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';}

  @return unquote($value)

};
$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

#stars{
  position: fixed; 
  left: -100px; 
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
  
  &:after{
    content: " ";
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}  
#stars2{
  position: fixed;
  left: -100px; 
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;;
  animation			: animStar 100s linear infinite;

    
  &:after{
    content: " ";
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium
  }
}  
#stars3{
  position: fixed;
  left: -100px;  
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
    
  &:after{
    content: " ";
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
@keyframes animStar{
  from	{
    transform: translateY(0px)
  }
  to	{	
    transform: translateY(-900px)
  }
}
