@use 'src/styles/vars';

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.mobile-container {

  background-color:vars.$color-popup-background;
  padding:5px;
  width: 300px;
  height: 500px;
  position:absolute;
  margin :auto;
  border-bottom: 2px solid vars.$color-title-two ;
  border-top: 2px solid vars.$color-title-four ;  
  border-left: 2px solid vars.$color-title-first ;  
  border-right: 2px solid vars.$color-title-last ;  
  display:flex;
  justify-content: center;
  align-items: center;

.mobile-title {
  font-family: "Meta";
  font-size: 1rem;
  text-align: center;
  color: vars.$color-title-first;
  text-shadow: 4px 2.5px 2px vars.$color-title-two;
  font-variation-settings: "wght" 900, "ital" 1;
  padding-bottom:4px;
  margin:2px;
}
.mobile-subtitle {
  font-family: "Meta";
  font-variation-settings: "wght" 900, "ital" 1;
  color:red;
  padding-bottom:4px;
  margin:2px;
}

.mobile-text {
  font-family:'Quicksand', sans-serif; 
  padding-left:50px;
  padding-right:50px;
  margin:2px;

}
}
