
// MAIN PROJET COLORS

$color-background:#1d0e98;

$color-text-main:white;
$color-text-title:white;
$color-text-content:white;

$color-nav-link:yellow;
$color-nav-link-hover:orange;

$color-popup-background:#EB1E07;
$color-popup-text:#EB1E07;
$color-popup-shadow:black;

// TITLE COLORS

$color-title-contouring:#be1c0a;
$color-title-first:#e01c06;
$color-title-two:#fa9005;
$color-title-three:#f5f127;
$color-title-four:#3ce408;
$color-title-five:#0aeee3;
$color-title-last:#060169;

//  PROJET FONT SIZES
