@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  display:flex;
  background: vars.$color-background ;
  margin:0;
  max-width: 100;
  font-family: 'Quicksand', sans-serif;

}
