.about-container {
  display: flex-inline;
  .about-text {
    background-color: white;
    color: red;
  }
  .about-profil-image {
    height: 30px;
    width: 30px;
    //padding: 5px;
    //margin: 5px;
  }
  .about-profil {
    
    margin: 0;
    padding: auto;
    width: 100%;
    height: 15%;
    .about-profil-article {
     
      .about-profil-name {
        

      }

      .about-profil-describe {


      }
      
      .about-profil-link {


      }
    }
  }
}
