<span class="star" id="star0"></span>
<span class="star" id="star1"></span>
<span class="star" id="star2"></span>
<span class="star" id="star3"></span>
<span class="star" id="star4"></span>
<span class="star" id="star5"></span>
<span class="star" id="star6"></span>
<span class="star" id="star7"></span>
<span class="star" id="star8"></span>
<span class="star" id="star9"></span>
<span class="star" id="star10"></span>
<span class="star" id="star11"></span>
<span class="star" id="star12"></span>
<span class="star" id="star13"></span>
<span class="star" id="star14"></span>
<span class="star" id="star15"></span>
<span class="star" id="star16"></span>
<span class="star" id="star17"></span>
<span class="star" id="star18"></span>
<span class="star" id="star19"></span>
<span class="star" id="star20"></span>
<span class="star" id="star21"></span>
<span class="star" id="star22"></span>
<span class="star" id="star23"></span>
<span class="star" id="star24"></span>
<span class="star" id="star25"></span>
