
@use 'src/styles/vars';


.home-main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: vars.$color-popup-background;
   box-sizing: border-box;
   position:absolute;
    left:33%;
    top:28%;
    right:auto;
    bottom:auto;
    width: 700px;
    height: 800px;
    padding:10px;
    margin:2px;
  .home-banniere {
    margin-top:20px;
    margin-right:10px;
    width: 600px;
    height: 300px;
    .home-banniere-img {
      background-size: cover;
      width: 500px;
      height: 200px;
    }

  }
  .popular-scenarios-container {
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: yellow;
    margin-top:20px;
    padding-top:10px;
    box-sizing: border-box;

    .popular-scenarios-scenario {
      width: 200px;
      height: 100px;
     .popular-scenarios-scenario-image {
       width: 100%;
       padding-top:10px;
     }
     .popular-scenarios-scenario-text {
       background-color: black;
       color:white;
       border:none;
       padding:5px;
       margin-top:2px;
       box-sizing: border-box;

     }
    }
  }
}

