@use 'src/styles/vars';

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-text {
    color: white;
    font-family: "Meta";
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    font-variation-settings: "wght" 900, "ital" 1;
    margin:10px;
  }
.popular-scenarios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3px;
  padding: 10px;
  box-sizing: border-box;
  background-color: vars.$color-popup-background;

  .popular-scenarios-scenario {
    width: 250px;
    height: 400px;
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(165, 159, 159);
    transition: all 0.5s ease;
    cursor: pointer;

    .popular-scenarios-scenario-image {
      width: 150px;
      height: 150px;
      border: 2px solid black;

    }

    .popular-scenarios-scenario-text {
      color: black;
      border: none;
      padding: 5px;
      text-align: justify;
      margin: 2px;
      box-sizing: border-box;
      width: 200px;
      height: 230px;
    }

    .popular-scenarios-scenario-rate ul {
      display: flex;
    }

    .--gold {
      color: yellow;
    }

    .scenario-star {
      color: black;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  .popular-scenarios-subtitle {
    font-family: "Meta";
    font-variation-settings: "wght"900, "ital"1;
    color: red;
    padding-bottom: 2px;
    margin: 2px;
  }
}

.unavailable {
  width: 260px;
  height: 415px;
  background-color: rgba(39, 38, 38, 0.644);
  position: absolute;
}
}
