// .profil-main{
//   display: flex;
//   justify-content: center;
//   .profil-container{
//     background-color: white;
//     margin-top: 1em;
//     width: 50%;
//     .profil-title {
//       font-size: 2em;
//     }
//   }
// }

@use 'src/styles/vars';

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.profil-container {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: vars.$color-popup-background;
  box-sizing: border-box;
  position:absolute;
   left:33%;
   top:28%;
   right:auto;
   bottom:auto;
   width: 700px;
   height: 600px;
   padding:10px;
   margin:2px;
   border-bottom: 20px solid vars.$color-title-last ;
   border-right: 10px solid vars.$color-title-last ;  
  

  .profil-title {
    font-family: "Meta";
    font-size: 2rem;
    text-align: center;
    color: vars.$color-title-first;
    font-variation-settings: "wght" 900, "ital" 1;
    padding-bottom:10px;
    margin:2px;
  }
   .profil-list {
      font-family: "Meta";
      font-variation-settings: "wght" 900, "ital" 1;
      color:red;
      padding-bottom:10px;
      margin:2px;
    }
  .profil-list-item {
    font-family:'Quicksand', sans-serif; 
    padding-left:50px;
    padding-right:50px;
    margin:2px;
  }

  .profil-button {
    text-transform:uppercase;
    border:none;
    width:150px;
    height:70px;
    position:absolute;
    border-radius:10px;
    font-family: "Meta";
    font-size: 15px;
    padding-top:10px;
  }

  .profil-link-password {
    color:white;
    background-color: red;
  }

  .profil-pic {

    max-width: 200px;
    max-height: 200px;
    position:absolute;
    display: inline;
    float:left;
  }

}
