@use 'src/styles/vars';

.footer-container {
  display:inline-flex;
  top: 53vh;
  width: 500px;
  height: 10vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  left:38%;
  right:auto;
  top:90%;
  bottom:auto;
  // background-color: red;

  .footer-link {

  text-transform: uppercase;
  color:vars.$color-nav-link;
  &:hover {
    color:vars.$color-nav-link-hover;
    transition: vars.$transition-slow;
    transform: scale(1.1);
    cursor:pointer;
  }
  }
  
  .footer-date {

    text-transform: uppercase;
    font-weight: bolder;
    color:vars.$color-nav-link;
  }

  
}
