{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('back/comment/_form.html.twig') }}

    <a href="{{ path('back_comment_list') }}">back to list</a>
{% endblock %}
