@use 'src/styles/vars';


.nav-container {

  display:inline-flex;
  // background-color: red;
  border-bottom:0.5px solid white;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px;
  padding: 2px;
  width: 500px;
  height: 10vh;
  position:absolute;
  top:15%;
  left:38%;
  right:auto;
  bottom:auto;
  font-family: 'Barlow', sans-serif;

.nav-link {

  margin:5px;
  padding:5px;
  text-align: center;
  text-transform: uppercase;
  color:vars.$color-nav-link;
  &:hover {
    color:vars.$color-nav-link-hover;
    transition: vars.$transition-slow;
    transform: scale(1.1);
    cursor:pointer;
  }
  .nav-link-active {
    text-decoration: underline;
    font-weight: bolder;
  }
}

}
